USE [master]
GO
/****** Object:  Database [PP2025]    Script Date: 21/4/2026 19:36:07 ******/
CREATE DATABASE [PP2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PP2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PP2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PP2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PP2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PP2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PP2025]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 21/4/2026 19:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [nvarchar](50) NOT NULL,
	[PASS] [nvarchar](50) NOT NULL,
	[EDAD] [int] NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID], [USUARIO], [PASS], [EDAD], [DNI]) VALUES (1, N'gonzalo', N'123', NULL, NULL)
INSERT [dbo].[USUARIO] ([ID], [USUARIO], [PASS], [EDAD], [DNI]) VALUES (2, N'jose', N'12', 45, 33333333)
INSERT [dbo].[USUARIO] ([ID], [USUARIO], [PASS], [EDAD], [DNI]) VALUES (3, N'maria', N'444', 33, 2222222)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
USE [master]
GO
